{% extends "/LoggedBase.html.twig" %}

{% block title %}Mon compte{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col-12">
            <form class="border border-light p-5 rgba-white-strong" action="{{ path('user_me') }}" method="POST">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="h4 mt-5">Modifier mon compte</p>
                    </div>
                    <div class="col-6">
                        {{ form_row(form.givenName) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.familyName) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.save) }}
                        {{ form_row(form._token) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
