{% extends "/base.html.twig" %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col-12">
            <form class="border border-light p-5 rgba-white-strong" action="{{ action }}" method="POST">
                <div class="row">
                    <div class="col-4 text-center">
                        <p class="h4 mt-5">Ajouter un rôle</p>
                    </div>
                    <div class="col-4">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.save) }}
                        {{ form_row(form._token) }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 mt-5">
            <div class="border border-light p-5 rgba-white-strong">
                Liste des rôles
                <table id="role-table" class="table" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">id</th>
                            <th class="th-sm">Nom</th>
                            <th class="th-sm">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for item in items -%}
                        <tr>
                            <td class="m-1">{{- item.id -}}</td>
                            <td class="m-1">{{- item.name -}}</td>
                            <td class="p-2">
                                <button class="btn btn-primary dropdown-toggle btn-rounded-light btn-sm m-0" type="button" id="role-{{ item.id }}" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-edit"></i>
                                </button>
                                <!--Menu-->
                                <div class="dropdown-menu dropdown-primary">
                                    <a class="dropdown-item" href="{{ path('role_details', {'roleId': item.id}) }}">Modifier</a>
                                    <a class="dropdown-item"
                                       data-toggle="modal"
                                       data-target="#deleteModal"
                                       data-name="{{ item.name }}"
                                       data-route="{{ path('role_delete', {'roleId': item.id}) }}"
                                    >Supprimer</a>
                                </div>
                            </td>
                        </tr>
                        {%- endfor -%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Central Modal Small -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
         aria-hidden="true">
        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Voulez-vous supprimez le role "<span id="item-name"></span>"</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" data-dismiss="modal">Non</a>
                    <a href="" id="link" class="btn btn-danger btn-sm">Oui</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Small -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/modal.js"></script>
{% endblock %}