{% extends "/LoggedBase.html.twig" %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col-12">
            <a class="btn btn-info btn-rounded-light" href="{{ path('enigma_add') }}">Retour</a>
        </div>
        {%- if is_granted('ROLE_ORGA') -%}
            <div class="col-12">
                <form class="border border-light p-5 rgba-white-strong" action="" method="POST">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="h4 mt-5">Ajouter un événement</p>
                        </div>
                        <div class="col-6">
                            {{ form_row(form.position) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.answer) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.exact) }}
                        </div>
                        <div class="col-4">
                            {{ form_row(form.save) }}
                            {{ form_row(form._token) }}
                        </div>
                    </div>
                </form>
            </div>
        {%- endif -%}
        <div class="col-12 mt-5">
            <div class="border border-light p-5 rgba-white-strong">
                Liste des énigmes
                <table id="role-table" class="table" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Position</th>
                            <th class="th-sm">Réponse</th>
                            <th class="th-sm">exact</th>
                            <th class="th-sm">Enigme</th>
                            {%- if is_granted('ROLE_ORGA') -%}
                                <th class="th-sm">Action</th>
                            {%- endif -%}
                        </tr>
                    </thead>
                    <tbody>
                        {%- for item in items -%}
                        <tr>
                            <td class="m-1">{{- item.position -}}</td>
                            <td class="m-1">{{- item.answer -}}</td>
                            <td class="m-1">{% if item.exact %}<span class="badge bg-success">Oui</span>{% else %}<span class="badge bg-danger">Non</span>{% endif %}</td>
                            <td class="m-1">{{- item.enigma.name -}}</td>
                            {%- if is_granted('ROLE_ORGA') -%}
                                <!--Menu-->
                                <td class="p-2">
                                    <a class="btn btn-primary btn-rounded-light btn-sm m-0" href="{{ path('enigma_answer_update', { enigma: item.enigma.id, id : item.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-rounded-light btn-sm m-0" href="{{ path('enigma_answer_delete', { enigma: item.enigma.id, id : item.id}) }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            {%- endif -%}
                        </tr>
                        {%- endfor -%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="th-sm">Position</th>
                            <th class="th-sm">Réponse</th>
                            <th class="th-sm">exact</th>
                            <th class="th-sm">Enigme</th>
                            {%- if is_granted('ROLE_ORGA') -%}
                                <th class="th-sm">Action</th>
                            {%- endif -%}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Central Modal Small -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
         aria-hidden="true">
        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Voulez-vous invalider le compte "<span id="item-name"></span>"</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" data-dismiss="modal">Non</a>
                    <a href="" id="link" class="btn btn-danger btn-sm">Oui</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Small -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}